#Data Types and Structures:-

Ques 1:- What are data structures, and why are they important?

Ans 1:- Data structures are ways of organizing and storing data in memory so it can be accessed and modified efficiently.

They are important because:
1. They improve performance (fast searching, inserting, updating).

2. They allow efficient use of memory.

Ques 2:-  Explain the difference between mutable and immutable data types with examples?

Ans 2:-

1. Mutable Data can be Changed or Updated after creation.


```
lst = [1, 2, 3]
lst[0] = 10
print(lst)
    result :- [10, 2, 3]

```
2. Immutable Data cannot be Changed or Updated after creation.


```
tup = (1, 2, 3)
# tup[0] = 10
    result:- It will throw an error

```

Ques 3:- What are the main differences between lists and tuples in Python?

Ans 3:-  Difference between List and Tuple:

1. List: List is Mutable and It is written with [ ].

2. Tuple: Tuple is Immutable and It is written with ( ).

Ques 4:- Describe how dictionaries store data.

Ans 4:- Dictionaries store data in key : value pairs.

```
student = {"name":"Aslam", "age":25, "Class":"10th"}
```

Ques 5:- Why might you use a set instead of a list in Python?

Ans 5:- We use a `SET` instead of a `LIST` in Pyhton because `SET` remove duplicates automatically and faster result deriven as compared to the `LIST`.

Ques 6:- What is a string in Python, and how is it different from a list?

Ans 6:- `String` is a sequence of textual characters → "Hello" while `List` is a sequence of items → [1, "a", 3.5]. `String` is Immutable while `List` is Mutable.

Ques 7:- How do tuples ensure data integrity in Python?

Ans 7:- `Tuples` cannot be changed it is immutable, so that data stays safe and fixed.

Ques 8:- What is a hash table, and how does it relate to dictionaries in Python?

Ans 8:- A hash table is a system that maps keys to values using hashing.
Dictionaries in Python are built using hash tables.

Ques 9:- Can lists contain different data types in Python?

Ans 9:- Yes, `List` can contain different data types in Python.

1. For Ex


```
List = [1, "hello", 3.14, True, "2x+y"]

```
As you can see that List is containing `int, str, float, bool, complex` types of data.

Ques 10:- Explain why strings are immutable in Python?

Ans 10:- `Strings` are immutable in Pyhton because it saves memory, prevents unwanted changes and allows strings to be used as dictionary keys.

Ques 11:- What advantages do dictionaries offer over lists for certain tasks?

Ans 11:- Dictionaries do faster lookups by keys and Data is stored with labels (keys) and not just numbers.

Ques 12:- Describe a scenario where using a tuple would be preferable over a list?

Ans 12:- `Tuples` are faster and keep data safe (immutable), so they are better than `Lists` when you want read-only, fixed data.

Ques 13:-  How do sets handle duplicate values in Python?

Ans 13:- `SETS` automatically removes duplicate values.
If you add the same item more than once, it will only keep one copy.


```
nums = {1, 2, 2, 3, 3, 4}
print(nums)   
    result:- 1, 2, 3, 4

```

Ques 14:- How does the `“in”` keyword work differently for lists and dictionaries?

Ans 14:-

```
numbers = [1, 2, 3]
print(2 in numbers)   
    result:- True (because 2 is in the list)

```

Ques 15:- Can you modify the elements of a tuple? Explain why or why not?

Ans 15:- No! Once a `tuple` is created, its values cannot be changed, added, or removed. This makes tuples safe for storing fixed data that should never change.

Ques 16:- What is a nested dictionary, and give an example of its use case?

Ans 16:- A nested dictionary is a dictionary inside another dictionary and It helps when we want to store data in a structured way.


```
company = {
    "HR": {
        "E101": {"name": "Amit", "salary": 30000},
        "E102": {"name": "Rina", "salary": 35000}
    },
    "IT": {
        "E201": {"name": "Aslam", "salary": 50000},
        "E202": {"name": "Ravi", "salary": 45000}
    }
}

# Access Ravi's salary
print(company["IT"]["E202"]["salary"])   

        'result:- 45000'
```

Ques 17:- Describe the time complexity of accessing elements in a dictionary.

Ans 17:- A dictionary is like a real dictionary where we can search with the word (key) and directly get the meaning (value).No matter how big the dictionary is, finding a value by key takes almost the same time.

Ques 18:- In what situations are lists preferred over dictionaries?

Ans 18:- `List` is preffeed when we want to work with only values not key, when duplicate doesn't matters and want to work with sequences.

Ques 19:- Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans 19:- A dictionary stores data using keys, not positions (like index in a list) that's why we say it is unordered → you can't rely on the order of items like you do in a list. Instead, you always retrieve data using its key.


```
student = {"name": "Aslam", "age": 25, "city": "Chandigarh"}
print(student["city"])  
        #Results it always uses key, not position

```

Ques 20:-  Explain the difference between a list and a dictionary in terms of data retrieval.

Anw 20:- `List` is index-based retrieval while `Dictionary` is key-based retrieval

1. `List` gives result by their position (index).


```
fruits = ["Apple", "Banana", "Pineapple"]
print(fruits[0])   
      Result:- Apple

```
2. `Dictionary` gives result by their key (name/label).


```
student = {"name": "Aslam", "age": 25}
print(student["name"])   
      Result:- Aslam

```

#Practical Questions:-

Ques 1:- Write a code to create a string with your name and print it.

In [1]:
#Ans 1:-
name = "Aslam Khan"
print(name)

Aslam Khan

Ques 2:- Write a code to find the length of the string "Hello World".

In [7]:
#Ans 2:-
text = "Hello World"
print(len(text))

11

Ques 3:-  Write a code to slice the first 3 characters from the string "Python Programming".

In [9]:
#Ans 3:-
string = "Python Programming"
print(string[:3])

Pyt

Ques 4:- Write a code to convert the string "hello" to uppercase.

In [10]:
#Ans 4:-
text = "hello"
print(text.upper())

HELLO

Ques 5:- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [11]:
#Ans 5:-
line = "I like apple"
print(line.replace("apple", "orange"))

I like orange

Ques 6:- Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
#Ans 6:-
list = [1, 2, 3, 4, 5]
print(list)
print(type(list))

[1, 2, 3, 4, 5]
<class 'list'>

Ques 7:- Write a code to append the number 10 to the list [1, 2, 3, 4].

In [14]:
#Ans 7:-
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Ques 8:- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [15]:
#Ans 8:-
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

Ques 9:- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [16]:
#Ans 9:-
list = ['a', 'b', 'c', 'd']
print(list[1])

b

Ques 10:- Write a code to reverse the list [10, 20, 30, 40, 50].

In [17]:
#Ans 10:-
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

Ques 11:-  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [18]:
#Ans 11:-
tuple = (100, 200, 300)
print(tuple)
print(type(tuple))

(100, 200, 300)
<class 'tuple'>

Ques 12:- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [20]:
#Ans 12:-
tuple = ('red', 'green', 'blue', 'yellow')
second_last = tuple[-2]
print(second_last)

blue

Ques 13:- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
#Ans 13:-
tuple = (10, 20, 5, 15)
print(min(tuple))

5

Ques 14:- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
#Ans 14:-
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

Ques 15:-  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [25]:
#Ans 15:-
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is available in the tuple")
else:
    print("Kiwi is not available in the tuple")

Kiwi is not available in the tuple

Ques 16:- Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [31]:
#Ans 16:-
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

Ques 17:- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [32]:
#Ans 17:-
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Ques 18:- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [33]:
#Ans 18:-
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Ques 19:- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [35]:
#Ans 19:-
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
union_set = my_set1.union(my_set2)      #Union Method
print(union_set)

my_set3 = {1, 2, 3}
my_set4 = {3, 4, 5}
union_set2 = my_set3 | my_set4          # '|' Method
print(union_set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

Ques 20:- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [37]:
#Ans 20:-
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
intersection_set = my_set1.intersection(my_set2)      #Intersection Method
print(intersection_set)

my_set3 = {1, 2, 3}
my_set4 = {2, 3, 4}
intersection_set2 = my_set3 & my_set4                 #'&' Method
print(intersection_set)

{2, 3}
{2, 3}

Ques 21:- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [39]:
#Ans 21:-
my_dict = {"name": "Aslam", "age": 25, "city": "Chandigarh"}
print(my_dict)
print(type(my_dict))

{'name': 'Aslam', 'age': 25, 'city': 'Chandigarh'}
<class 'dict'>

Ques 22:-  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [41]:
#Ans 22:-
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)
print(type(my_dict))

{'name': 'John', 'age': 25, 'country': 'USA'}
<class 'dict'>

Ques 23:- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [43]:
#Ans 23:-
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

Ques 24:- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [45]:
#Ans 24:-
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)
print(type(my_dict))

{'name': 'Bob', 'city': 'New York'}
<class 'dict'>

Ques 25:- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [46]:
#Ans 25:-
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

Ques 26:- Write a code to create a list, a tuple, and a dictionary, and print them all.

In [48]:
#Ans 26:-
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'name': 'Aslam', 'age': 25, 'city': 'Chandigarh'}

print("List:", my_list)
print(type(my_list))
print("Tuple:", my_tuple)
print(type(my_tuple))
print("Dictionary:", my_dict)
print(type(my_dict))

List: [1, 2, 3, 4, 5]
<class 'list'>
Tuple: (10, 20, 30, 40, 50)
<class 'tuple'>
Dictionary: {'name': 'Aslam', 'age': 25, 'city': 'Chandigarh'}
<class 'dict'>

Ques 27:- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [51]:
#Ans 27:-
import random
random_numbers = []
for i in range(5):
    num = random.randint(1, 100)
    random_numbers.append(num)
random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [24, 29, 36, 50, 70]

Ques 28:- Write a code to create a list with strings and print the element at the third index.

In [52]:
#Ans 28:-
my_list = ["apple", "banana", "orange", "grape", "kiwi"]
print(my_list[2])

orange

Ques 29:- Write a code to combine two dictionaries into one and print the result.

In [60]:
#Ans 29:-
dict1 = {'Name': 'Aslam', 'Age': 25}
dict2 = {'City': 'Chandigarh', 'PIN Code': 160030}
combined_dict = {**dict1, **dict2}                            # '**' Method
print(combined_dict)

dict3 = {'Name': 'Aslam', 'Age': 25}
dict4 = {'City': 'Chandigarh', 'PIN Code': 160030}
combined_dict2 = dict3 | dict4                                 # '|' Method
print(combined_dict2)

{'Name': 'Aslam', 'Age': 25, 'City': 'Chandigarh', 'PIN Code': 160030}
{'Name': 'Aslam', 'Age': 25, 'City': 'Chandigarh', 'PIN Code': 160030}

Ques 30:- Write a code to convert a list of strings into a set.

In [62]:
#Ans 30:-
fruits_list = ["apple", "banana", "apple", "orange", "banana"]
print(fruits_list)
print(type(fruits_list))

fruits_set = set(fruits_list)

print(fruits_set)
print(type(fruits_set))

['apple', 'banana', 'apple', 'orange', 'banana']
<class 'list'>
{'orange', 'banana', 'apple'}
<class 'set'>